<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>My notes</h1>

    <form action="/register/">
        <button type="submit">Register</button>
    </form>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>

    <form method="POST">
        <label>Title</label>
        <input type="text" name="title" required>

        <label>Content</label>
        <textarea name="content" rows="4" required></textarea>

        <button type="submit">Save Note</button>
    </form>

    {% for note in notes %}
        <div class="note">
            <h3>{{ note[1] }}</h3>
            <p>{{ note[2] }}</p>

            <form action="/delete/{{ note[0] }}" method="POST">
                <button type="submit">Delete</button>
            </form>

            <form action="/edit/{{note[0]}}" method="GET">
                <button type="submit">Edit</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>
