<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/register">Register</a>

    <h1>My notes</h1>

    <form method="POST" class="form">
        <label>Title</label>
        <input type="text" name="title" required>

        <label>Content</label>
        <textarea name="content" rows="4" required></textarea>

        <button type="submit">Post Note</button>
    </form>

    {% for note in notes %}
        <div class="note">
    <h3>{{ note[1] }}</h3>
    <hr>
    <p>{{ note[2] }}</p>

    <div class="delete_edit">
        <form action="/delete/{{ note[0] }}" method="POST">
            <button type="submit" title="Excluir">🗑️</button>
        </form>
        <form action="/edit/{{note[0]}}" method="GET">
            <button type="submit" title="Editar">✏️</button>
        </form>
    </div>
</div>

    {% endfor %}
</body>
</html>
